{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/juego1.css' %}">
    <title>Juego de rompecabezas</title>

    <style>
        body{
            background:linear-gradient(90deg, #2ecc71, #3498db);
        }
        .tableBtn-container {
            width: 280px;
            margin: auto;
            margin-top: 80px; /* Ajusta el margen superior */
            display: none;
        }
        
        .table-btn {
            width: 280px;
            height: 60px;
            font-size: 18px;
            border-radius: 8px;
            cursor: pointer;
            background-color: var(--btnBackground);
            color: var(--btnText);
            border: none;
            position: relative;
            margin-top: 20px; /* Ajusta el margen superior */
            z-index: 1; /* Para que esté por encima de la sombra */
        }
    
        .tableBtn-shadow {
            width: 280px;
            height: 60px;
            background-color: var(--btnShadow);
            border-radius: 8px;
            position: relative;
            top: -56px; /* Ajusta la posición hacia abajo */
            z-index: -1;
        }
        
        .saveBtn-container {
            position: relative;
            width: 280px;
            margin: auto;
            margin-top: -150px; /* Ajusta el margen superior para separar del botón anterior */
        }
    
        .save-btn {
            width: 280px;
            height: 60px;
            font-size: 18px;
            border-radius: 8px;
            cursor: pointer;
            background-color: var(--btnBackground);
            color: var(--btnText);
            border: none;
            position: relative;
            margin-top: 100px; /* Ajusta el margen superior */
            z-index: 1; /* Para que esté por encima de la sombra */
        }
    
        .saveBtn-shadow {
            width: 280px;
            height: 60px;
            background-color: var(--btnShadow);
            border-radius: 8px;
            position: relative;
            top: -56px; /* Ajusta la posición hacia abajo */
            z-index: -1;
        }
    
        
        
    
    </style>
</head>
<body>
    
    <section class="counter-container">
        <span class="counter">00:00:00</span>
    </section>
    <div class="board"></div>
    <section class="first-screen">
        <p>Completa el rompecabezas!</p>
        <img src="{% static 'images/juego.png' %}" alt="">
    </section>
    <section class="startBtn-container">
        <button class="play-btn" id="start">Empezar</button>
        <div class="btn-shadow"></div>
    </section>

    
    <section class="tableBtn-container" style="display: none;">
        <form id="redirectForm" method="GET" action="{% url 'clasificacion_tiempo' %}">
            <button type="submit" class="table-btn" id="table">Ir a Clasificación</button>
            <div class="tableBtn-shadow"></div>
        </form>
    </section>
    
    <form id="saveForm" method="POST" action="/guardar_tiempo/">
        {% csrf_token %}
        <input type="hidden" id="tiempoInput" name="tiempo" value=""> 
    </form>
    
    <section class="saveBtn-container" style="display: none;">
        <button type="submit" class="save-btn" id="save">Guardar Puntuación</button>
        <div class="saveBtn-shadow"></div>
    </section>
        
    
    
   
    
    <script>

        function getCSRFToken() {
            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]');
            return csrfToken ? csrfToken.value : '';
        }

        let matrix = shuffleMatrix();


        let board = document.querySelector(".board");
        let startBtn = document.querySelector("#start");
        let firstScreen = document.querySelector(".first-screen");
        let startBtnContainer = document.querySelector(".startBtn-container");
        let counterElement = document.querySelector(".counter");
        let intervalId; // Variable para almacenar el intervalo del cronómetro
        let elapsedTime = 0; // Variable para almacenar el tiempo transcurrido
        let playerWin = false; // Variable para verificar si el jugador ha ganado

        let saveForm = document.getElementById('saveForm');
        let saveBtn = document.querySelector("#save");

        let redirectForm = document.getElementById('redirectForm');

        let tableBtnContainer = document.querySelector(".tableBtn-container");
    
        let tableBtn = document.querySelector("#table");


        function showTableButton() {
            let startBtnDisplayStyle = window.getComputedStyle(startBtn).getPropertyValue('display');
            let playAgainBtnDisplayStyle = window.getComputedStyle(startBtnContainer).getPropertyValue('display');
        
            if (startBtnDisplayStyle === 'block' && playAgainBtnDisplayStyle === 'block') {
                tableBtnContainer.style.display = 'block';
            } else {
                tableBtnContainer.style.display = 'none';
            }
        }
    
        function hideTableButton() {
            tableBtnContainer.style.display = 'none';
        }

        tableBtn.addEventListener('click', () => {
            redirectForm.submit();
        });

        saveBtn.addEventListener('click', () => {
            saveBtn.disabled = true;
            let tiempo = elapsedTime;
        
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/guardar_tiempo/", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); // Cambiar a 'application/x-www-form-urlencoded'
            xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
        
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        alert("Tiempo guardado exitosamente.");
                    } else {
                        alert("Error al guardar el tiempo.");
                    }
                    saveBtn.disabled = false;
                }
            };
        
            // Enviar el tiempo como datos codificados
            xhr.send("tiempo=" + encodeURIComponent(tiempo)); // Codificar el tiempo antes de enviarlo
        });
        

        

        function startCounter() {
            let startTime = Date.now(); // Guardar el tiempo inicial
        
            intervalId = setInterval(updateCounter, 10); // Actualizar el contador cada 10 milisegundos
        
            function updateCounter() {
                if (!playerWin) { // Solo actualizar el tiempo si el jugador no ha ganado aún
                    let currentTime = Date.now(); // Obtener el tiempo actual
                    elapsedTime = currentTime - startTime; // Calcular el tiempo transcurrido
        
                    const milliseconds = String(elapsedTime % 1000).slice(0, 2); // Obtener los primeros dos dígitos de los milisegundos
                    const seconds = Math.floor((elapsedTime / 1000) % 60);
                    const minutes = Math.floor(elapsedTime / 60000);
        
                    if (minutes === 0) {
                        const formattedSeconds = String(seconds).padStart(2, '0');
                        counterElement.innerText = `${formattedSeconds}.${milliseconds}`;
                    } else {
                        const formattedMinutes = String(minutes).padStart(2, '0');
                        const formattedSeconds = String(seconds).padStart(2, '0');
                        counterElement.innerText = `${formattedMinutes}:${formattedSeconds}`;
                    }
                    saveBtn.dataset.tiempo = counterElement.innerText; // Asignar el tiempo formateado al atributo 'data-tiempo' del botón Guardar
                } else {
                    clearInterval(intervalId); // Detener el contador cuando el jugador gana
                }
            }
        
            updateCounter(); // Iniciar la actualización del contador
        }

        function formatTimeMilliseconds(time) {
            const milliseconds = String(time % 1000).slice(0, 2);
            const seconds = Math.floor((time / 1000) % 60);
            const minutes = Math.floor(time / 60000);
        
            const formattedSeconds = String(seconds).padStart(2, '0');
            const formattedMinutes = String(minutes).padStart(2, '0');
        
            return `${formattedMinutes}:${formattedSeconds}.${milliseconds}`;
        }





        //Animacion botones
        startBtn.addEventListener('mousedown', ()=>{
            startBtn.style.top = '4px';
        })
        startBtn.addEventListener('mouseup', ()=>{
            startBtn.style.top = '0px';
        })



        saveBtn.addEventListener('mousedown', ()=>{
            saveBtn.style.top = '4px';
        })
        saveBtn.addEventListener('mouseup', ()=>{
            saveBtn.style.top = '0px';
        })

        // Agrega la animación al botón "Ir a Clasificación"
        tableBtn.addEventListener('mousedown', () => {
            tableBtn.style.top = '4px';
        });
        tableBtn.addEventListener('mouseup', () => {
            tableBtn.style.top = '0px';
        });




        function drawTokens(){
            board.innerHTML = '';
            matrix.forEach(row => row.forEach(element => {
                if (element == ''){
                    board.innerHTML += `<div class="empty">${element}</div
                >`
                }else{
                    board.innerHTML += `<div class="token">${element}</div
                >`
                }
                
            }))
        }

        function showSaveButton() {
            let saveBtnContainer = document.querySelector('.saveBtn-container');
            saveBtnContainer.style.display = 'block';
          
            
        }
        
        
        function addEventListeners(){
            if (playerWin) {
                return; // Si el jugador ya ganó, no permitir movimientos adicionales
            }
        
            let tokens = document.querySelectorAll('.token');
            tokens.forEach(token => token.addEventListener('click', () => {
                let actualPosition = searchPosition(token.innerText)
                let emptyPosition = searchPosition('')
                let movement = canItMove(actualPosition, emptyPosition)
        
                if (movement !== false){
                    updateMatrix(token.innerText, actualPosition, emptyPosition)
                    let result = compareMatrix()
                    if (result == true){
                        playerWin = true
                        startBtnContainer.style.display = 'block';
                        startBtn.innerText = 'Jugar de nuevo!'
                        showTableButton(); // Llama a la función para verificar la visibilidad del botón "Ir a Clasificación"

                        confetti({
                            particleCount: 150,
                            spread: 150,
                        })
                        showSaveButton() 
                    }
        
                    drawTokens()
                    addEventListeners()
                }
        
            }))
        }
        

        function searchPosition(element){
            let rowIndex = 0
            let columnIndex = 0
            matrix.forEach((row, index) => {
                let rowElement = row.findIndex(item => item == element)
                if (rowElement !== -1){
                    rowIndex = index;
                    columnIndex = rowElement;
                }
            })
            return [rowIndex, columnIndex]
        }

        function canItMove(actualPosition, emptyPosition){
            if (actualPosition[1] == emptyPosition[1]){
                if(actualPosition[0] -emptyPosition[0] > 1 || actualPosition[0]
                -emptyPosition[0] < -1){
                    return false
                }
            }else if(actualPosition[0] == emptyPosition[0]){
                if(actualPosition[1] -emptyPosition[1] > 1 || actualPosition[1]
                -emptyPosition[1] < -1){
                    return false
                }
            }else{
                return false
            }
        }

        function updateMatrix(element, actualPosition, emptyPosition){
            matrix[actualPosition[0]][actualPosition[1]] = ''
            matrix[emptyPosition[0]][emptyPosition[1]] = element
        }

        function shuffleMatrix(){
            let shuffleMatrix = [
                [],
                [],
                []
            ]

            let array = ['1', '2', '3', '4', '5', '6', '7', '8', '']
            // Shuffle the array with a Fisher-Yates shuffle
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }

            let column = 0;
            let row = 0;

            array.forEach(element => {
                shuffleMatrix[row].push(element);
                if (column < 2) {
                    column++;
                } else {
                    column = 0;
                    row++;
                }
            });

            // Ensure the puzzle is solvable
            if (!isSolvable(array)) {
                // If not solvable, swap two tiles (e.g., 1 and 2) to make it solvable
                [shuffleMatrix[0][0], shuffleMatrix[0][1]] = [shuffleMatrix[0][1], shuffleMatrix[0][0]];
            }

            return shuffleMatrix;
        }

        function isSolvable(puzzle) {
            let inversions = 0;
            const flattenPuzzle = puzzle.flat();

            for (let i = 0; i < flattenPuzzle.length - 1; i++) {
                for (let j = i + 1; j < flattenPuzzle.length; j++) {
                    if (flattenPuzzle[i] !== '' && flattenPuzzle[j] !== '' && flattenPuzzle[i] > flattenPuzzle[j]) {
                        inversions++;
                    }
                }
            }

            // If the number of inversions is even, the puzzle is solvable
            return inversions % 2 === 0;
        }
        showTableButton();

        function compareMatrix(){
            let counter = 0;
            let finalMatrix = [
                ['1', '2', '3'],
                ['4', '5', '6'],
                ['7', '8', '']
            ]

            matrix.forEach((row, indexRow) => {
                row.forEach((element, indexcolumn) => {
                    if(element == finalMatrix[indexRow][indexcolumn]){
                        counter++
                    }
                })
            })
            if (counter == 9){
                return true
            }
        }

        let saveBtnContainer = document.querySelector('.saveBtn-container');


        function resetGame() {
            firstScreen.style.display = 'none';
            startBtnContainer.style.display = 'none';
            counterElement.style.display = 'block';
            elapsedTime = 0;
            playerWin = false;
            tableBtnContainer.style.display = 'block';
            saveBtnContainer.style.display = 'none'; // Oculta el botón de guardar tiempo
        }
        
        startBtn.addEventListener('click', () => {
            resetGame();
            matrix = shuffleMatrix();
            drawTokens();
            elapsedTime = 0;
            drawTokens();
            startCounter();
            showTableButton();

            addEventListeners();
            playerWin = false; // Agregar esta línea para reiniciar el estado del juego
        });
        
        
        
        // Llamar a la función de ajuste cuando sea necesario, por ejemplo, después de finalizar el juego


    </script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"></script>
</body>

</html>