{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Juego de Preguntas con Imagen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            background: linear-gradient(90deg, #2ecc71, #3498db);

        }
        .container-main {
            max-width: 800px;
            margin: 0 auto;
        }

        .pregunta .btn-group {
            display: block;
        }

        .pregunta .btn-group .btn {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            color: black;
            background-color: white;
            border: 1px solid #ccc;
        }

        .respuesta-correcta.btn.active {
            background-color: #d4edda !important;
            border-color: #c3e6cb !important;
        }

        .respuesta-incorrecta.btn.active {
            background-color: #f8d7da !important;
            border-color: #f5c6cb !important;
        }
    </style>
</head>

<body>
    <i class="bi bi-chevron-left m-4" ><a href="{% url 'inicio' %}" ></a></i>
    <div class="container mt-5 container-main">
        <h1 class="text-center mb-4">Juego de Preguntas con Imagen</h1>
        <div class="text-center">
            <button id="startButton" class="btn btn-primary">Iniciar</button>
        </div>
        <div class="progress mt-3">
            <div id="barra" class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="imagenContainer" class="text-center mt-4" style="display: none;">
            <img id="imagen" src={% static 'images/imagen-pre.png' %} alt="Imagen" class="img-fluid">
        </div>
        <div id="preguntasContainer" style="display: none;">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Preguntas</h2>
                    <p class="card-text">Selecciona la respuesta correcta y haz clic en Siguiente</p>

                    <div class="pregunta" style="display: none;">
                        <p>¿De qué color es el cielo?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta1" value="Verde"> Verde
                            </label>
                            <label class="btn btn-secondary respuesta-correcta">
                                <input type="radio" name="respuesta1" value="Azul"> Azul
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta1" value="Rojo"> Rojo
                            </label>
                        </div>
                        <button class="nextButton btn btn-primary mt-2 hidden-button">Siguiente</button>
                    </div>
                    
                    <div class="pregunta" style="display: none;">
                        <p>¿Qué color predominante tienen las flores?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta2" value="Amarillo"> Amarillo
                            </label>
                            <label class="btn btn-secondary respuesta-correcta">
                                <input type="radio" name="respuesta2" value="Rojo"> Rojo
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta2" value="Verde"> Verde
                            </label>
                        </div>
                        <button class="nextButton btn btn-primary mt-2 hidden-button">Siguiente</button>
                    </div>
                    
                    <div class="pregunta" style="display: none;">
                        <p>¿De qué color es la casa?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta3" value="Azul"> Azul
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta3" value="Verde"> Verde
                            </label>
                            <label class="btn btn-secondary respuesta-correcta">
                                <input type="radio" name="respuesta3" value="Morado"> Morado
                            </label>
                        </div>
                        <button class="nextButton btn btn-primary mt-2 hidden-button">Siguiente</button>
                    </div>
                    
                    <div class="pregunta" style="display: none;">
                        <p>¿Qué animal se observa en el agua además de la hierba?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary respuesta-correcta">
                                <input type="radio" name="respuesta4" value="Tortugas"> Tortugas
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta4" value="Peces"> Peces
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta4" value="Patos"> Patos
                            </label>
                        </div>
                        <button class="nextButton btn btn-primary mt-2 hidden-button">Siguiente</button>
                    </div>
                    
                    <div class="pregunta" style="display: none;">
                        <p>¿Dónde se localiza la mayoría de la hierba?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta5" value="En el agua"> En el agua
                            </label>
                            <label class="btn btn-secondary respuesta-correcta">
                                <input type="radio" name="respuesta5" value="En la tierra"> En la tierra
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta5" value="En el aire"> En el aire
                            </label>
                        </div>
                        <button class="nextButton btn btn-primary mt-2 hidden-button">Siguiente</button>
                    </div>
                    
                    <div class="pregunta" style="display: none;">
                        <p>¿Qué elemento natural está presente en el agua?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary respuesta-correcta">
                                <input type="radio" name="respuesta6" value="Hojas"> Hojas
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta6" value="Flores"> Flores
                            </label>
                            <label class="btn btn-secondary respuesta-incorrecta">
                                <input type="radio" name="respuesta6" value="Ramitas"> Ramitas
                            </label>
                        </div>
                        <button class="nextButton btn btn-primary mt-2 hidden-button">Siguiente</button>
                    </div>

                    <div id="resultados" style="display: none;" class="mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Resultados</h2>
                                <p class="card-text">Respuestas correctas: <span id="respuestasCorrectas" class="font-weight-bold">0</span></p>
                                <p class="card-text">Respuestas incorrectas: <span id="respuestasIncorrectas" class="font-weight-bold">0</span></p>
                
                                <!-- Formulario para enviar la puntuación al servidor Django -->
                                <form id="puntuacionForm" method="post" action="{% url 'guardar_puntuacion' %}">
                                    {% csrf_token %}
                                    <!-- Aquí se debe colocar el valor correcto de respuestas_correctas -->
                                    <input type="hidden" name="respuestas_correctas" id="respuestas_correctas" value="4">
                                    
                                    <button type="submit" id="guardarPuntuacionBtn" class="btn btn-primary">Guardar Puntuación</button>
                                </form>
                                
                                 
                                
                                <a href="{% url 'clasificacion' %}" class="btn btn-secondary mt-2">Ver Tabla de Clasificación</a>
                                <a href="{% url 'inicio' %}" class="btn btn-secondary mt-2">Volver al Inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var respuestasCorrectas = 0;
        var respuestasIncorrectas = 0;
        var preguntaIndex = 0;
        var preguntas = document.querySelectorAll('.pregunta');
        var radios = document.querySelectorAll('input[type="radio"]');
        var nextButtons = document.querySelectorAll('.nextButton');
    
        var tiempoVisualizacion = 5;
    
        document.getElementById("startButton").addEventListener("click", function () {
            document.getElementById("startButton").disabled = true;
            document.getElementById("imagenContainer").style.display = "block";
    
            var porcentaje = 100;
            var tiempoRestante = tiempoVisualizacion * 1000;
            var tiempoPaso = 100;
            var avancePorPaso = porcentaje / (tiempoRestante / tiempoPaso);
    
            var puntuacionForm = document.getElementById("puntuacionForm");
            var guardarPuntuacionBtn = document.getElementById("guardarPuntuacionBtn");
    
            puntuacionForm.addEventListener("submit", function(event) {
                event.preventDefault(); // Evitar el comportamiento predeterminado del formulario
                guardarPuntuacionBtn.disabled = true;
            
                // Obtener el valor de respuestas_correctas
                var respuestasCorrectas = document.getElementById("respuestas_correctas").value;
            
                // Realizar una petición AJAX para guardar la puntuación
                var xhr = new XMLHttpRequest();
                xhr.open("POST", puntuacionForm.action, true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            alert("Puntuación guardada exitosamente."); // Cambiar este mensaje a éxito
                        } else {
                            alert("Error al guardar la puntuación.");
                        }
                    }
                };
                xhr.send("respuestas_correctas=" + respuestasCorrectas);
            });
            
            
    
            var intervalo = setInterval(function () {
                tiempoRestante -= tiempoPaso;
                porcentaje -= avancePorPaso;
                document.getElementById("barra").style.width = porcentaje + "%";
    
                if (porcentaje <= 0 || tiempoRestante <= 0) {
                    clearInterval(intervalo);
                    document.getElementById("barra").style.width = "0%";
                    setTimeout(function () {
                        document.getElementById("imagenContainer").style.display = "none";
                        document.getElementById("preguntasContainer").style.display = "block";
                        document.getElementById("startButton").style.display = "none";
                        document.getElementById("barra").style.display = "none";
                        mostrarPregunta(preguntaIndex);
                    }, 1000);
                }
            }, tiempoPaso);
        });
    
        nextButtons.forEach(function (button, index) {
            button.addEventListener("click", function () {
                var respuesta = document.querySelector('input[name="respuesta' + (preguntaIndex + 1) + '"]:checked');
                if (respuesta) {
                    var respuestaLabel = respuesta.parentElement;
                    respuestaLabel.classList.add('active');
                    setTimeout(function () {
                        radios.forEach(function (r) {
                            r.checked = false;
                        });
                        preguntas[preguntaIndex].style.display = "none";
                        preguntaIndex++;
                        if (preguntaIndex < preguntas.length) {
                            mostrarPregunta(preguntaIndex);
                            button.disabled = false;
                        } else {
                            mostrarResultados();
                        }
                    }, 1500);
    
                    if (respuestaLabel.classList.contains('respuesta-correcta')) {
                        respuestasCorrectas++;
                    } else {
                        respuestasIncorrectas++;
                    }
    
                    button.disabled = true;
                }
            });
        });
    
        function mostrarPregunta(index) {
            preguntas[index].style.display = "block";
        }
    
        function mostrarResultados() {
            document.getElementById("resultados").style.display = "block";
            document.getElementById("respuestasCorrectas").textContent = respuestasCorrectas;
            document.getElementById("respuestasIncorrectas").textContent = respuestasIncorrectas;
            document.getElementById("respuestas_correctas").value = respuestasCorrectas;
        }
    </script>

</body>

</html>
