{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/juego1.css' %}>

    <title> Juego de rompecabezas</title>
</head>
<body>

    <section class="counter-container">
        <span class="counter">60</span>
    </sectioncl>

    <div class="board"></div>

    <section class="first-screen">
        <p>Completa el rompecabezas!</p>
        <img src={% static 'images/juego.png' %} alt="">

    </section>

    <section class="startBtn-container">
        <button class="play-btn" id="start">Empezar</button>
        <div class="btn-shadow"></div>
    </section>

    <script src="{% static 'js/juego1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"></script>
</body>

</html>
