{% extends 'base.html' %}

{% block content %}
<section class="coffee">
    <img class="coffee-img" src="images/" alt="">
    <div class="coffee-content container">
        <h2>Preguntas de {{ categoria.nombre }}</h2>
        <form method="post" action="{% url 'calcular_resultado' categoria_id=categoria.id %}">
            {% csrf_token %}
            <ul>
                {% for pregunta in preguntas %}
                    <li>
                        {{ pregunta.texto_pregunta }}
                        <ul>
                            <h3>Totalmente en Desacuerdo</h3>
                            {% for respuesta in pregunta.respuesta_set.all %}
                                <li>
                                    <input type="radio" name="pregunta_{{ pregunta.id }}" value="{{ respuesta.id }}">
                                    {{ respuesta.texto_respuesta }} 
                                </li>
                            {% endfor %}
                            <h3>Totalmente de acuerdo</h3>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Enviar Respuestas</button>
        </form>
    </div>
</section>
{% endblock %}